<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>SAMSUNG SENEGAL : GALAXY S4</title>
    <link href="/public/ui-lightness/jquery-ui-1.10.2.custom.css" rel="stylesheet">
    <link href="/public/bxslider-4/jquery.bxslider.css" rel="stylesheet" />
    <link type="text/css" rel="stylesheet" href="/public/style.css?version=1" />
    <link type="text/css" rel="stylesheet" href="/public/css/style.css?version=1" />
  </head>
  <body>
    <div id="content">
      {% include "views/splash.html" %}
      {% include "views/_menu.html" %}
      {% include "views/slideshow.html" %}
      {% include "views/caracteristiques.html" %}
      {% include "views/stepbystep.html" %}
      {% include "views/where.html" %}
      {% include "views/preorder.html" %}

      {% include "views/_scripts.html" %}
    </div>
  </body>
</html>
