<div class="menu" id="lemenu">
  <center>
    <div style="width:960px; margin:10px auto;">
      <img src="/public/logo.png" class="fl"/> 
      <center>
        <a href="#" class="lien_menu" data-slide="1">Accueil</a>
        <a href="#" class="lien_menu" data-slide="2">Fonctionnalit&eacute;s</a>
        <a href="#" class="lien_menu" data-slide="3">Caract&eacute;ristiques techniques</a>
        <a href="#" class="lien_menu" data-slide="4">Pr&eacute;commander</a>
      </center>
      <a href="http://www.orange.sn" target="blank" class="fr"><img src="/public/orange.png" class="fr"/> </a>
    </div>
  </center>
</div>
