<script type="text/javascript" src="/public/jquery.js"></script>
<script type="text/javascript" src="/public/bxslider-4/jquery.bxslider.min.js"></script>
<script type="text/javascript" src="/public/date.js?version=1"></script>
<script type="text/javascript" src="/public/app.js?version=3"></script>
<script src="/public/slide.js"></script>

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-40295314-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
